# Detail Rocket Deep Learning Recommendation System

## Imports and installs

In [51]:
from sklearn.model_selection import train_test_split
import tensorflow as tf
#%pip install pandas
# %pip install seaborn
#%pip install numpy

from tensorflow.python.ops.gen_array_ops import ExpandDims
from keras.layers import RepeatVector, TimeDistributed, Layer, Reshape, BatchNormalization, Attention, Input, Embedding, LSTM, Dense, Dot, Activation, Concatenate, Flatten

from keras.models import Model

In [52]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import operator
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from keras.utils import pad_sequences
#test

## Load Data

Preprocessing was done in EDA notebook and stored in pickle files

In [53]:
basepath = '../../datasets/preprocessed_datasets/retailrocket/'
category_tree = pd.read_pickle(basepath +'category_tree.pkl')
category_tree

      categoryid  parentid
0           1016     213.0
1            809     169.0
2            570       9.0
3           1691     885.0
4            536    1691.0
...          ...       ...
1664          49    1125.0
1665        1112     630.0
1666        1336     745.0
1667         689     207.0
1668         761     395.0

[1669 rows x 2 columns]

In [54]:
events = pd.read_pickle(basepath +'events.pkl')
events

,timestamp,visitorid,event,itemid,transactionid,datetime
0,1433221332117,257597,view,355908,NaN,2015-06-02 07:02:12
1,1433224214164,992329,view,248676,NaN,2015-06-02 07:50:14
2,1433221999827,111016,view,318965,NaN,2015-06-02 07:13:19
3,1433221955914,483717,view,253185,NaN,2015-06-02 07:12:35
4,1433221337106,951259,view,367447,NaN,2015-06-02 07:02:17
...,...,...,...,...,...,...
2756096,1438398785939,591435,view,261427,NaN,2015-08-01 05:13:05
2756097,1438399813142,762376,view,115946,NaN,2015-08-01 05:30:13
2756098,1438397820527,1251746,view,78144,NaN,2015-08-01 04:57:00
2756099,1438398530703,1184451,view,283392,NaN,2015-08-01 05:08:50
2756100,1438400163914,199536,view,152913,NaN,2015-08-01 05:36:03

In [55]:
visitor_actions = pd.read_pickle(basepath +'visitor_actions.pkl')
visitor_actions

         visitorid  products_viewed  num_views  num_add2cart  num_transaction
0           693516                1          1             2                0
1           829044                1          1             0                0
2           652699                1          1             0                0
3          1125936                1          1             0                0
4          1149227                1          1             0                0
...            ...              ...        ...           ...              ...
1407575     998517                1          1             0                0
1407576     472345                1          1             0                0
1407577    1207677                1          1             0                0
1407578     255126                1          1             0                0
1407579     622226                1          1             0                0

[1407580 rows x 5 columns]

In [56]:
product_item_df = pd.read_pickle(basepath +'product_item.pkl')
product_item_df

         itemid  visitorid  view  addtocart  transaction
0             3     370720   1.0          0            0
1             3     639016   1.0          0            0
2             4     905555   1.0          0            0
3             4    1010132   1.0          0            0
4             4    1042455   1.0          0            0
...         ...        ...   ...        ...          ...
2145174  466864    1388296   4.0          0            0
2145175  466867     241803   1.0          0            0
2145176  466867     450511   1.0          0            0
2145177  466867    1001859   1.0          0            0
2145178  466867    1117910   1.0          0            0

[2145179 rows x 5 columns]

In [57]:
product_item_df[product_item_df.view >= 2]

         itemid  visitorid  view  addtocart  transaction
10            6     330981   2.0          0            0
18            6     771857   2.0          0            0
19            6     802121   2.0          0            0
36           15     724401   2.0          0            0
40           15     989647   2.0          0            0
...         ...        ...   ...        ...          ...
2145162  466864    1076431   3.0          0            0
2145165  466864    1183853   6.0          0            0
2145167  466864    1224868   2.0          0            0
2145169  466864    1265478   3.0          0            0
2145174  466864    1388296   4.0          0            0

[306548 rows x 5 columns]

In [58]:
item_properties = pd.read_pickle(basepath +'item_data_extracted.pkl')
item_properties

,itemid,categoryid,available,properties,property_values
0,0,209,0,"[1036, 1056, 11, 112, 127, 139, 159, 177, 189,...","[1276750, n3.168 1144008, n15360.000 628176 n1..."
1,1,1114,1,"[0, 1036, 112, 159, 185, 202, 227, 238, 280, 2...","[769062, 1154859, 679677, 519769, 769062, 1726..."
2,2,1305,0,"[1063, 112, 159, 202, 282, 283, 318, 332, 364,...","[n396.000 145688, 679677, 519769, 648485 n6000..."
3,3,1171,0,"[1025, 1080, 112, 159, 202, 227, 250, 283, 30,...","[769062, 769062, 679677, 519769, 261419, 13057..."
4,4,1038,0,"[112, 115, 159, 202, 227, 28, 283, 33, 364, 59...","[679677, n24.000, 519769, 371058 71429, 588652..."
...,...,...,...,...,...
417048,466862,1376,0,"[112, 139, 159, 186, 202, 227, 28, 283, 29, 34...","[679677, 769062, 519769, 575816 n432.000, 7173..."
417049,466863,173,0,"[1014, 112, 159, 202, 227, 283, 364, 400, 47, ...","[1075463, 679677, 519769, 1194687 550565 24255..."
417050,466864,373,1,"[1036, 112, 152, 159, 202, 227, 230, 283, 348,...","[1154859, 679677, 1071492, 519769, 1262739 205..."
417051,466865,421,0,"[1031, 112, 159, 202, 227, 277, 28, 283, 332, ...","[1088309, 679677, 519769, 150169 780351 820477..."
417052,466866,1164,0,"[112, 120, 128, 159, 202, 227, 28, 283, 320, 3...","[679677, 1057641, 590055 n24.000, 519769, 8924..."

In [59]:
rebuild_grouped_df = False
if  rebuild_grouped_df:
    merged_df = pd.merge(item_properties, product_item_df, on='itemid')

    grouped_df = merged_df.groupby('visitorid').agg({
        'itemid': list,
        'categoryid': list,
        'properties': list,
        'property_values': list,
        'available': list,
        'view': list,
        'addtocart': list,
        'transaction': list
    }).reset_index()
    grouped_df.columns = ['visitorid', 'itemids', 'categories', 'properties', 'property_values', 'available', 'view', 'addtocart', 'transaction']

    grouped_df.to_pickle(basepath +'visitor_items.pkl')
    visitor_items = grouped_df
else:
    visitor_items = pd.read_pickle(basepath +'visitor_items.pkl')

visitor_items
# Select the desired columns0

,visitorid,itemids,categories,properties,property_values,available,view,addtocart,transaction
0,0,"[67045, 285930, 357564]","[333, 1188, 256]","[[1036, 112, 159, 202, 227, 28, 283, 328, 364,...","[[1154859, 679677, 519769, 439698, 1037547 150...","[1, 0, 1]","[1.0, 1.0, 1.0]","[0, 0, 0]","[0, 0, 0]"
1,1,[72028],[1192],"[[1036, 112, 159, 202, 227, 230, 283, 307, 364...","[[1318567, 679677, 519769, 72800, 887448 17434...",[0],[1.0],[0],[0]
2,2,"[216305, 259884, 325215, 342816]","[299, 299, 299, 444]","[[1030, 1036, 112, 159, 202, 227, 27, 283, 364...","[[140221, 961511, 679677, 519769, 961487 75577...","[1, 1, 0, 1]","[2.0, 1.0, 3.0, 2.0]","[0, 0, 0, 0]","[0, 0, 0, 0]"
3,3,[385090],[1171],"[[1025, 1080, 112, 159, 202, 227, 250, 283, 30...","[[n464.400 357845 903043, [215470 n9048.000, 2...",[0],[1.0],[0],[0]
4,5,[61396],[646],"[[1092, 112, 159, 202, 283, 348, 364, 461, 506...","[[291010, 679677, 519769, 494986 789585, 72671...",[0],[1.0],[0],[0]
...,...,...,...,...,...,...,...,...,...
1236027,1407575,[121220],[1221],"[[112, 159, 202, 206, 227, 28, 283, 364, 476, ...","[[679677, 519769, 961131 584779 30834, n600.00...",[0],[1.0],[0],[0]
1236028,1407576,[356208],[175],"[[1075, 112, 159, 202, 25, 283, 364, 6, 678, 6...","[[[n120.000 1029109 n1200.000 1029109, n120.00...",[1],[1.0],[0],[0]
1236029,1407577,[427784],[1237],"[[112, 159, 19, 202, 227, 28, 283, 325, 364, 5...","[[679677, 519769, 1297729 n36.000 350726 30603...",[0],[1.0],[0],[0]
1236030,1407578,[188736],[1584],"[[112, 159, 202, 227, 28, 283, 364, 6, 678, 69...","[[679677, 519769, 727751 n6540.000 253573, 104...",[0],[1.0],[0],[0]
1236031,1407579,[2521],[1282],"[[1036, 104, 112, 118, 159, 163, 202, 227, 283...","[[769062 726612 769062, 769062, 679677, 769062...",[1],[1.0],[0],[0]

### build and train model

In [124]:
df = visitor_items.sample(n=10000)
# df = visitor_items.copy()

def convertToArray(column):
    return column.apply(lambda x: np.array([x]))

def bringToSameSizeOneDim(column, max_length = None):
    if max_length is None:
        max_length = max(column.apply(len))
    return column.apply(lambda x: x + [0] * (max_length - len(x)))


def bringToSameSizeTwoDimAndFlatten(column):
    max_length = max(column.apply(lambda x: max(len(sublist) for sublist in x)))
    new_column = column.apply(lambda x: [sublist + [0] * (max_length - len(sublist)) for sublist in x])
    new_column = new_column.apply(lambda x: x + [[0] * max_length] * (max_length - len(x)))
    return new_column.apply(lambda x: [item for sublist in x for item in sublist])
# itemid,categoryid,available,properties,property_values

def convertToSequence(column, max_length = None):
    list = column.tolist()
    if max_length is None:
        max_length = max(len(x) for x in list)
    return pad_sequences(list, maxlen=max_length, padding='post', value=0), max_length



itemids,max_itemid = convertToSequence(df.itemids)
categories,max_category = convertToSequence(df.categories)
available,max_available = convertToSequence(df.available)
view,max_view = convertToSequence(df.view)
addtocart,max_addtocart = convertToSequence(df.addtocart)

max_seq_length = max( max_itemid, max_category, max_available, max_view, max_addtocart)

visitorids, max_visitorid = convertToSequence(bringToSameSizeOneDim(convertToArray(df.visitorid), max_seq_length+1))
# to predict
transaction,max_transaction = convertToSequence(bringToSameSizeOneDim(df.transaction))
num_transactions = transaction.shape[1]

max_visitorid_id = max(np.unique(df.visitorid)) + 1
# max_visitorid = max_visitorid_id

max_itemid_id = np.max(np.unique(df.itemids.apply(np.unique).apply(max))) + 1
max_category_id = max(np.unique(df.categories.apply(np.unique).apply(max).astype(int))) + 1
max_available_id = int(max(np.unique(df.available.apply(np.unique).apply(max)))) + 1
max_view_id = int(max(np.unique(df.view.apply(np.unique).apply(max)))) + 1
max_addtocart_id = int(max(np.unique(df.addtocart.apply(np.unique).apply(max)))) + 1
max_transaction_id = int(max(np.unique(df.addtocart.apply(np.unique).apply(max)))) + 1

In [140]:
# Define input layers
input_visitorids = Input(shape=(max_visitorid,), name='visitorids')
input_itemids = Input(shape=(max_itemid,), name='itemids')
input_categories = Input(shape=(max_category,), name='categories')
# input_properties = Input(shape=(max_seq_length,), name='properties')
# input_property_values = Input(shape=(max_seq_length,), name='property_values')
input_available = Input(shape=(max_available,), name='available')
input_view = Input(shape=(max_view,), name='view')
input_addtocart = Input(shape=(max_addtocart,), name='addtocart')
# input_transaction = Input(shape=(1,), name='transaction')

encoding_padding_mask = tf.math.logical_not(tf.math.equal(input_itemids, 0))

# Embedding layers for categorical features
embedding_dim = 32
embedding_visitorids = Embedding(input_dim=max_visitorid_id, output_dim=embedding_dim)(input_visitorids)
embedding_itemids = Embedding(input_dim=max_itemid_id, output_dim=embedding_dim)(input_itemids)
embedding_categories = Embedding(input_dim=max_category_id, output_dim=embedding_dim)(input_categories)
embedding_available = Embedding(input_dim=max_available_id, output_dim=embedding_dim)(input_available)
embedding_view = Embedding(input_dim=max_view_id, output_dim=embedding_dim)(input_view)
embedding_addtocart = Embedding(input_dim=max_addtocart_id, output_dim=embedding_dim)(input_addtocart)
#embedding_transaction = Embedding(input_dim=max_category, output_dim=embedding_dim)(input_transaction)
# embedding_properties = Embedding(input_dim=max_property + 1, output_dim=embedding_dim)(input_properties)
# embedding_property_values = Embedding(input_dim=max_property_value + 1, output_dim=embedding_dim)(input_property_values)

# Concatenate all embeddings
concat_embedding_input = Concatenate(
    axis=-1, name='concat_embedding_input')([embedding_visitorids, embedding_itemids, embedding_categories, embedding_available, embedding_view, embedding_addtocart])

batchnorm_inputs = BatchNormalization(
    name='batchnorm_inputs')(concat_embedding_input)
# LSTM layer
lstm = LSTM(64, return_sequences=True)(concat_embedding_input)
lstm = BatchNormalization(name='batchnorm_lstm')(lstm)

# Apply attention mechanism
att = Attention(use_scale=False, name='attention')(inputs=[lstm, lstm],
                                                   mask=[encoding_padding_mask, encoding_padding_mask])
flatten = Flatten()(att)
output = Dense(num_transactions, activation='softmax')(flatten)

model = Model(inputs=[input_visitorids, input_itemids, input_categories, input_available, input_view, input_addtocart], outputs=output)
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mse', 'mae', 'accuracy'])
model.summary()

Model: "model_12"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 visitorids (InputLayer)        [(None, 523)]        0           []

 itemids (InputLayer)           [(None, 523)]        0           []

 categories (InputLayer)        [(None, 523)]        0           []

 available (InputLayer)         [(None, 523)]        0           []

 view (InputLayer)              [(None, 523)]        0           []

 addtocart (InputLayer)         [(None, 523)]        0           []

 embedding_116 (Embedding)      (None, 523, 32)      45037344    ['visitorids[0][0]']

 embedding_117 (Embedding)      (None, 523, 32)      14939584    ['itemids[0][0]']

 embedding_118 (Embedding)      (None, 523, 32)      54336       ['categories[0][0]']

 embedding_119 (Embedding)      (None, 523, 32)      64          ['available[0][0]']

 embedding_120 (Embedding)      (None, 523, 32)      2240        ['view[0][0]']

 embedding_121 (Embedding)      (None, 523, 32)      256         ['addtocart[0][0]']

 concat_embedding_input (Concat  (None, 523, 192)    0           ['embedding_116[0][0]',
 enate)                                                           'embedding_117[0][0]',
                                                                  'embedding_118[0][0]',
                                                                  'embedding_119[0][0]',
                                                                  'embedding_120[0][0]',
                                                                  'embedding_121[0][0]']

 lstm_14 (LSTM)                 (None, 523, 64)      65792       ['concat_embedding_input[0][0]']

 tf.math.equal_20 (TFOpLambda)  (None, 523)          0           ['itemids[0][0]']

 batchnorm_lstm (BatchNormaliza  (None, 523, 64)     256         ['lstm_14[0][0]']
 tion)

 tf.math.logical_not_20 (TFOpLa  (None, 523)         0           ['tf.math.equal_20[0][0]']
 mbda)

 attention (Attention)          (None, 523, 64)      0           ['batchnorm_lstm[0][0]',
                                                                  'batchnorm_lstm[0][0]',
                                                                  'tf.math.logical_not_20[0][0]',
                                                                  'tf.math.logical_not_20[0][0]']

 flatten_24 (Flatten)           (None, 33472)        0           ['attention[0][0]']

 dense_12 (Dense)               (None, 523)          17506379    ['flatten_24[0][0]']

==================================================================================================
Total params: 77,606,251
Trainable params: 77,606,123
Non-trainable params: 128
__________________________________________________________________________________________________

In [141]:
epochs = 2
batch_size = 32

history = model.fit([visitorids, itemids, categories, available, view, addtocart], transaction, epochs=epochs, batch_size=batch_size)  # Adjust epochs and batch size as needed

Epoch 1/2

2023-06-27 15:56:00.039763: W tensorflow/core/grappler/costs/op_level_cost_estimator.cc:690] Error in PredictCost() for the op: op: "Softmax" attr { key: "T" value { type: DT_FLOAT } } inputs { dtype: DT_FLOAT shape { unknown_rank: true } } device { type: "CPU" model: "0" num_cores: 10 environment { key: "cpu_instruction_set" value: "ARM NEON" } environment { key: "eigen" value: "3.4.90" } l1_cache_size: 16384 l2_cache_size: 524288 l3_cache_size: 524288 memory_size: 268435456 } outputs { dtype: DT_FLOAT shape { unknown_rank: true } }

313/313 [==============================] - 128s 403ms/step - loss: 5.2302e-05 - mse: 5.2302e-05 - mae: 0.0020 - accuracy: 0.7562
Epoch 2/2
313/313 [==============================] - 126s 403ms/step - loss: 5.3112e-05 - mse: 5.3112e-05 - mae: 0.0020 - accuracy: 0.4186

In [142]:
history.history

{'loss': [5.2302086260169744e-05, 5.3112180466996506e-05],
 'mse': [5.2302086260169744e-05, 5.3112180466996506e-05],
 'mae': [0.0019583061803132296, 0.0019579888321459293],
 'accuracy': [0.7562000155448914, 0.4185999929904938]}

In [143]:
model.save('../../models/retailrocket/attention_detailrocket_v1.h5')

In [135]:
def preprocess_df(df, max_seq_length):
    itemids,max_itemid = convertToSequence(df.itemids, max_seq_length)
    categories,max_category = convertToSequence(df.categories, max_seq_length)
    available,max_available = convertToSequence(df.available, max_seq_length)
    view,max_view = convertToSequence(df.view, max_seq_length)
    addtocart,max_addtocart = convertToSequence(df.addtocart, max_seq_length)
    max_seq_length = max( max_itemid, max_category, max_available, max_view, max_addtocart)

    visitorids, max_visitorid = convertToSequence(bringToSameSizeOneDim(convertToArray(df.visitorid), max_seq_length+1))

    return visitorids, itemids, categories, available, view, addtocart

In [249]:
data_predict = preprocess_df(df.sample(1), max_seq_length)
data_predict

(array([[611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796, 611796, 611796, 611796, 611796, 611796,
         611796, 611796, 611796]], dtype=int32),
 array([[301925,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,
              0,      0,      0]], dtype=int32),
 array([[1387,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
            0,    0,    0,    0,    0,    0]], dtype=int32),
 array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int32),
 array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int32),
 array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int32))

In [250]:
result = model.predict(data_predict)
result

1/1 [==============================] - 0s 41ms/step

array([[0.00230644, 0.00207428, 0.00203829, 0.00200595, 0.00173183,
        0.0019407 , 0.00190742, 0.00191339, 0.00198109, 0.00193131,
        0.00191123, 0.00190816, 0.00186208, 0.00193225, 0.00190621,
        0.00190533, 0.00195895, 0.00187235, 0.00190144, 0.00189999,
        0.00191329, 0.00195614, 0.00190174, 0.00192129, 0.00174076,
        0.00192873, 0.00184737, 0.00198644, 0.0019098 , 0.00200605,
        0.00193878, 0.00197775, 0.00190523, 0.00191192, 0.00195073,
        0.00192165, 0.00188051, 0.00194139, 0.00190958, 0.00197115,
        0.00194206, 0.00184647, 0.0018888 , 0.00192026, 0.00192482,
        0.0018933 , 0.00194204, 0.00189789, 0.00195406, 0.00191827,
        0.00190603, 0.00190565, 0.00186836, 0.00190575, 0.00186344,
        0.00186345, 0.00198623, 0.00189078, 0.00190092, 0.00192069,
        0.00193096, 0.00193258, 0.00188772, 0.00191003, 0.00189181,
        0.00189819, 0.0019532 , 0.00190059, 0.00189815, 0.00191718,
        0.00188291, 0.00195068, 0.00194356, 0.00191212, 0.00189363,
        0.00198993, 0.00187729, 0.00194283, 0.00199177, 0.0018796 ,
        0.00191247, 0.0018805 , 0.00188794, 0.00190967, 0.00191143,
        0.00191685, 0.00189565, 0.00193977, 0.00195118, 0.00191913,
        0.001972  , 0.00188806, 0.00192125, 0.00190091, 0.00193306,
        0.00185109, 0.00192862, 0.00189823, 0.00189462, 0.00190219,
        0.00189527, 0.00191104, 0.00194475, 0.00196052, 0.00188898,
        0.00192797, 0.00192621, 0.00186671, 0.00188012, 0.00194065,
        0.00194562, 0.00187257, 0.00194868, 0.00190022, 0.00193815,
        0.00188205, 0.00196701, 0.0018992 , 0.00179455, 0.00191276,
        0.0019215 , 0.0017866 , 0.00191191, 0.00186043, 0.00190418,
        0.00190109, 0.00186521, 0.00193354, 0.00190712, 0.00193207,
        0.00189922, 0.0018438 , 0.00191491, 0.00192612, 0.00196593,
        0.0019039 , 0.00190572, 0.00189491, 0.00194482, 0.00193799,
        0.00193019, 0.00188903, 0.00190523, 0.00189318, 0.00190771,
        0.00194804, 0.00189887, 0.00192712, 0.00192498, 0.00189831,
        0.00194415, 0.00192248, 0.00195498, 0.00190682, 0.00191582,
        0.00193256, 0.00191005, 0.00194582, 0.00190695, 0.00192716,
        0.00189705, 0.00189744, 0.0018855 , 0.001868  , 0.00190892,
        0.00190125, 0.00192119, 0.00193672, 0.0018933 , 0.0019426 ,
        0.00192764, 0.00187657, 0.00187449, 0.00188106, 0.00190226,
        0.00189722, 0.00195336, 0.00192879, 0.001932  , 0.00189704,
        0.00194204, 0.0018539 , 0.00189916, 0.00193603, 0.00188631,
        0.00193453, 0.00190406, 0.00191365, 0.00193955, 0.00191625,
        0.0018995 , 0.00193027, 0.00194691, 0.00195862, 0.001895  ,
        0.00188258, 0.00190678, 0.0019022 , 0.00188776, 0.00188331,
        0.00188576, 0.0019644 , 0.00193853, 0.00191742, 0.00188436,
        0.00195972, 0.00189468, 0.00191809, 0.0019369 , 0.00192214,
        0.00191024, 0.00189209, 0.0019402 , 0.001861  , 0.00195806,
        0.00189011, 0.00190798, 0.00195264, 0.00191394, 0.00186593,
        0.00186261, 0.00197808, 0.00190996, 0.00186016, 0.00190998,
        0.00191014, 0.00193985, 0.00191498, 0.00191094, 0.00191012,
        0.00191336, 0.00191492, 0.00192635, 0.00193623, 0.00193858,
        0.00189487, 0.00191189, 0.0018848 , 0.00188302, 0.00191119,
        0.00188102, 0.0018932 , 0.00192648, 0.00187614, 0.00188642,
        0.00190161, 0.00193072, 0.00189741, 0.00192467, 0.0019526 ,
        0.00195603, 0.00185889, 0.0018745 , 0.00189259, 0.00188254,
        0.00191321, 0.00195596, 0.00203313, 0.00191866, 0.00193041,
        0.00190526, 0.00193307, 0.00192592, 0.00189497, 0.00189408,
        0.00192125, 0.00192531, 0.00188198, 0.0019462 , 0.00188384,
        0.00192527, 0.00189886, 0.00191529, 0.00188371, 0.00189633,
        0.00188962, 0.0019166 , 0.00190562, 0.00194834, 0.00191655,
        0.00186847, 0.00193658, 0.00191117, 0.00194405, 0.00191217,
        0.0018862 , 0.00187637, 0.00187036, 0.0018985 , 0.00192898,
        0.00188293, 0.00189928, 0.00194412, 0.00189429, 0.00190966,
        0.00193   , 0.00192599, 0.00191494, 0.00191721, 0.00195351,
        0.00194165, 0.00191596, 0.00191122, 0.00192082, 0.00190506,
        0.00186594, 0.00191132, 0.00191962, 0.00189651, 0.00193422,
        0.0018934 , 0.00190285, 0.001889  , 0.00187018, 0.00190784,
        0.0019211 , 0.00197699, 0.00189177, 0.00188873, 0.00194213,
        0.00190962, 0.0019134 , 0.00192609, 0.00190481, 0.00192347,
        0.0019064 , 0.00188634, 0.00190271, 0.00194685, 0.00194114,
        0.0019009 , 0.00191856, 0.00192954, 0.00189168, 0.00185882,
        0.00194342, 0.00189099, 0.00192662, 0.00191077, 0.00189304,
        0.00193588, 0.00189065, 0.00188385, 0.00187833, 0.00188012,
        0.00190032, 0.00195913, 0.00192945, 0.00185096, 0.00195479,
        0.00191068, 0.00197484, 0.00184773, 0.00187936, 0.00193368,
        0.00192355, 0.00192948, 0.0019244 , 0.00194998, 0.00187674,
        0.00192563, 0.00188099, 0.0018962 , 0.00190571, 0.00192449,
        0.00189921, 0.0019603 , 0.00190182, 0.00186669, 0.00191484,
        0.00190647, 0.00187024, 0.00193358, 0.00192141, 0.00189378,
        0.00192093, 0.00188479, 0.00190691, 0.00192035, 0.0019078 ,
        0.00190141, 0.00193032, 0.00194068, 0.00192061, 0.00192792,
        0.00188092, 0.00190864, 0.00191331, 0.00193189, 0.00192704,
        0.00190719, 0.0018905 , 0.00194688, 0.00188536, 0.00188311,
        0.0018785 , 0.00189661, 0.00192872, 0.00194193, 0.00186784,
        0.00189881, 0.00187818, 0.00191162, 0.00186458, 0.00191289,
        0.00189975, 0.0018906 , 0.00190565, 0.00187972, 0.00193926,
        0.00188536, 0.00193545, 0.00196191, 0.00194954, 0.00188775,
        0.00190253, 0.00189301, 0.00190707, 0.00189906, 0.00190141,
        0.00188636, 0.0019384 , 0.00185638, 0.00190493, 0.00194307,
        0.001929  , 0.00192697, 0.0019364 , 0.00192729, 0.00191644,
        0.0018882 , 0.00190769, 0.00195354, 0.00187996, 0.00194153,
        0.00191259, 0.00193593, 0.0019137 , 0.0019307 , 0.00190769,
        0.00195353, 0.00190151, 0.00188601, 0.00191278, 0.0019034 ,
        0.00189381, 0.00195485, 0.00189223, 0.00187506, 0.00190273,
        0.00191283, 0.00191011, 0.00192141, 0.00194264, 0.00190866,
        0.00192537, 0.00188011, 0.00187883, 0.00192356, 0.00192718,
        0.00187138, 0.00185194, 0.00185423, 0.00192971, 0.00198422,
        0.00191689, 0.00189996, 0.00189288, 0.00190463, 0.00191904,
        0.00191608, 0.00194886, 0.00192726, 0.00187578, 0.00192594,
        0.00190376, 0.00190687, 0.00190029, 0.00190949, 0.0019281 ,
        0.00195224, 0.0019156 , 0.00191528, 0.00192777, 0.00189739,
        0.00190953, 0.00188677, 0.00189813, 0.00189828, 0.00191231,
        0.00186144, 0.00186351, 0.00188946, 0.00190221, 0.00189911,
        0.0018839 , 0.00187353, 0.00185574, 0.00193024, 0.00188745,
        0.0019309 , 0.00193425, 0.0019304 , 0.00191041, 0.00194143,
        0.00192879, 0.00185671, 0.00193433, 0.00189117, 0.00185757,
        0.001915  , 0.00190106, 0.00185958, 0.00188016, 0.00192294,
        0.00189671, 0.00192375, 0.00194125, 0.00192796, 0.00192118,
        0.00191114, 0.00189532, 0.00193925]], dtype=float32)

In [247]:

def getTopNItems(itemids_ordered, prediction, top_n = 5):
    top_n_idx = np.flip(np.argsort(prediction, axis=1)[:,-top_n:][0])
    top_item_ids = []
    for idx in top_n_idx:
        top_item_ids.append([itemids_ordered[idx][0], prediction[0][idx]])
    # Select the top-k indices and retrieve the corresponding item IDs
    return top_item_ids

def getItemDataByTopN(top_n, df):
    itemids = [int(sublist[0]) for sublist in top_n]
    return df[df.itemid.isin(itemids)]

In [217]:
top_n = getTopNItems(itemids, result, 5)
top_n

[[306526, 0.0022774735],
 [393393, 0.00208364],
 [429248, 0.0020629214],
 [325170, 0.0020606958],
 [180684, 0.0020348902]]

In [251]:
getItemDataByTopN(top_n, item_properties)

,itemid,categoryid,available,properties,property_values
161456,180684,374,1,"[102, 1028, 112, 159, 202, 227, 275, 28, 283, ...","[769062, 769062, 679677, 519769, 1197762, 4909..."
273934,306526,1007,0,"[1036, 108, 112, 159, 202, 283, 348, 364, 398,...","[1169318, 1116693, 679677, 519769, 240471, 452..."
290583,325170,928,1,"[1066, 112, 159, 202, 227, 283, 364, 418, 460,...",[325971 625511 484436 325971 n3840.000 1144008...
351499,393393,35,0,"[1066, 112, 159, 189, 202, 227, 283, 364, 400,...","[n303.600 424566, 679677, 519769, 952750, 3732..."
383523,429248,1221,1,"[112, 159, 19, 202, 227, 28, 283, 364, 521, 55...","[679677, 519769, 1297729 n36.000 350726 30603 ..."

# Prepare data for model