# Gabor Dataset

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt


pd.set_option('display.max_columns', None)

## Read datasets

In [2]:
product_columns = [
    "o_id", "o_parentId", "articleNumber", "articleNumber2", "brand__id", "mainCategory__id", "name", "description", "gender", "deliveryTime",
    "originCountry", "line", "b2cWebshopStatus", "b2cPrice", "b2cCurrency", "indicatorAdvertisement", "indicatorWedding", "indicatorSale",
    "mainImage", "additionalImage1", "additionalImage2", "additionalImage3", "additionalImage4", "additionalImage5",
    "weight__unit", "weight__value", "material", "materialPm", "color", "closure",
    "relationsUpSelling", "relationsColors"
] # used for assign product values to new csv

In [3]:
def base_information_dataset(df):
    print(df.shape)
    display(df.head())
    display(df.describe())
    display(df.isnull().sum())

### Bag Data

In [4]:
df_bag_data = pd.read_csv('../datasets/gabor/Gabor_Bag_Data.csv')
base_information_dataset(df_bag_data)

(252, 9)

,o_id,fieldname,height__value,height__unit,length__value,length__unit,width__value,width__unit,formGroup
0,9331625,attributes,10.5,1,17.0,1,3.0,1,NaN
1,9331626,attributes,10.5,1,17.0,1,3.0,1,NaN
2,9331649,attributes,23.5,1,25.0,1,6.5,1,NaN
3,9331650,attributes,23.5,1,25.0,1,6.5,1,NaN
4,9331652,attributes,23.5,1,25.0,1,6.5,1,NaN

,o_id,height__value,height__unit,length__value,length__unit,width__value,width__unit,formGroup
count,2.520000e+02,252.000000,252.0,252.000000,252.0,252.000000,252.0,0.0
mean,1.046135e+07,24.070635,1.0,29.797222,1.0,10.289683,1.0,NaN
std,5.639794e+05,6.591677,0.0,8.570590,0.0,4.517277,0.0,NaN
min,9.331625e+06,7.700000,1.0,10.800000,1.0,2.500000,1.0,NaN
25%,1.077090e+07,21.000000,1.0,24.000000,1.0,7.000000,1.0,NaN
50%,1.078275e+07,25.000000,1.0,28.000000,1.0,11.000000,1.0,NaN
75%,1.078282e+07,29.000000,1.0,36.000000,1.0,13.625000,1.0,NaN
max,1.078288e+07,41.000000,1.0,47.000000,1.0,18.500000,1.0,NaN

o_id               0
fieldname          0
height__value      0
height__unit       0
length__value      0
length__unit       0
width__value       0
width__unit        0
formGroup        252
dtype: int64

form group column can be deleted, every other column looks good

In [5]:
df_bag_data = df_bag_data.drop(columns=['formGroup'])
df_bag_data.head()

,o_id,fieldname,height__value,height__unit,length__value,length__unit,width__value,width__unit
0,9331625,attributes,10.5,1,17.0,1,3.0,1
1,9331626,attributes,10.5,1,17.0,1,3.0,1
2,9331649,attributes,23.5,1,25.0,1,6.5,1
3,9331650,attributes,23.5,1,25.0,1,6.5,1
4,9331652,attributes,23.5,1,25.0,1,6.5,1

### Brand:

In [6]:
# todo fix first parentid
df_brand = pd.read_csv('../datasets/gabor/Gabor_Brand.csv')
base_information_dataset(df_brand)

(11, 3)

   o_parentId  o_parentId.1           name
0          11            11            NaN
1         509           509          Gabor
2         509           509  Gabor comfort
3         509           509    rollingsoft
4         509           509    Gabor Sport

       o_parentId  o_parentId.1
count   11.000000     11.000000
mean   463.727273    463.727273
std    150.152650    150.152650
min     11.000000     11.000000
25%    509.000000    509.000000
50%    509.000000    509.000000
75%    509.000000    509.000000
max    509.000000    509.000000

o_parentId      0
o_parentId.1    0
name            1
dtype: int64

nothing to do, only base category is null

### Categories

In [7]:
df_categories = pd.read_csv('../datasets/gabor/Gabor_Categories.csv')
base_information_dataset(df_categories)

(73, 5)

,o_id,o_parentId,name,description,gender
0,19,12,NaN,NaN,NaN
1,315558,19,Shoes,NaN,NaN
2,315559,315558,Ladies shoes,NaN,/System/Optionen/Produktattribute/gender/w
3,315560,315559,Pumps,NaN,/System/Optionen/Produktattribute/gender/w
4,315561,315560,Buckle pumps,NaN,/System/Optionen/Produktattribute/gender/w

               o_id    o_parentId  description
count  7.300000e+01  7.300000e+01          0.0
mean   2.019356e+06  1.323144e+06          NaN
std    2.883270e+06  2.143116e+06          NaN
min    1.900000e+01  1.200000e+01          NaN
25%    3.155750e+05  3.155600e+05          NaN
50%    3.155940e+05  3.155780e+05          NaN
75%    3.692263e+06  3.630150e+05          NaN
max    1.064827e+07  8.756144e+06          NaN

o_id            0
o_parentId      0
name            1
description    73
gender          2
dtype: int64

first row can be deleted
todo etwas mit leeren desciption values machen
gender 2 mall null => evtl droppen oder als unisex bewerten

In [8]:
df_categories['gender'] = df_categories['gender'].map({'/System/Optionen/Produktattribute/gender/w': 'w', '/System/Optionen/Produktattribute/gender/m': 'm'})
df_categories['gender'] = df_categories['gender'].fillna('u')
df_categories['description'] = df_categories['description'].fillna('')

In [9]:
df_categories = df_categories.drop(0)

In [10]:
df_categories.head()

     o_id  o_parentId          name description gender
1  315558          19         Shoes                  u
2  315559      315558  Ladies shoes                  w
3  315560      315559         Pumps                  w
4  315561      315560  Buckle pumps                  w
5  315562      315559       Sandals                  w

### Order items

In [11]:
df_orderitems = pd.read_csv('../datasets/gabor/Gabor_Orderitems.csv')
base_information_dataset(df_orderitems)

(672349, 11)

,o_id,orderState,product__id,productNumber,productName,amount,totalPrice,productSizeEu,productColorName,baseUnitPrice,discountAmount
0,2516728,committed,557559,4058394021466,sportliche Ballerinas Glattleder schwarz,1,89.95,40.0,schwarz,NaN,NaN
1,2516738,committed,551622,4054452768212,elegante Pumps Glattleder schwarz,1,79.95,38.0,schwarz,NaN,NaN
2,2516897,committed,547193,4054452768427,Slipper Glattleder schwarz,1,69.95,42.0,schwarz,NaN,NaN
3,2517058,committed,549776,4059701687894,Sneaker low Rauleder blau,1,130.00,39.0,blau,NaN,NaN
4,2517149,committed,550599,4056067216898,Sneaker low Rauleder blau,1,99.95,42.5,blau,NaN,NaN

,o_id,product__id,productNumber,amount,totalPrice,productSizeEu,baseUnitPrice,discountAmount
count,6.723490e+05,6.723490e+05,6.723490e+05,672349.000000,672349.000000,671862.000000,460703.000000,353.000000
mean,7.711935e+06,6.287516e+06,4.063618e+12,1.003110,107.947700,39.613114,115.924769,11.291360
std,2.143101e+06,2.357284e+06,5.419267e+09,0.058086,28.486357,2.180808,25.684321,9.508245
min,2.516728e+06,3.608240e+05,4.054453e+12,1.000000,0.000000,35.000000,35.990000,10.000000
25%,5.833031e+06,4.769551e+06,4.062863e+12,1.000000,89.950000,38.000000,99.950000,10.000000
50%,7.854362e+06,6.282501e+06,4.064032e+12,1.000000,99.950000,39.000000,115.000000,10.000000
75%,9.625975e+06,8.489278e+06,4.065171e+12,1.000000,125.000000,41.000000,130.000000,10.000000
max,1.112813e+07,1.110352e+07,4.255620e+12,5.000000,500.000000,49.500000,270.000000,160.000000

o_id                     0
orderState           23838
product__id              0
productNumber            0
productName              0
amount                   0
totalPrice               0
productSizeEu          487
productColorName      9821
baseUnitPrice       211646
discountAmount      671996
dtype: int64

In [12]:
df_orderitems[df_orderitems['productSizeEu'].isnull()] ## if product size == pocket # todo
df_orderitems[df_orderitems['productColorName'].isnull()] ## change to empty value
df_orderitems[df_orderitems['baseUnitPrice'].notnull()] ## delete column no real purpose
df_orderitems[df_orderitems['discountAmount'].notnull()] ## just 350 entries => delete column
df_orderitems[df_orderitems['orderState'].isnull()] ## delete entries => order state must be committed

,o_id,orderState,product__id,productNumber,productName,amount,totalPrice,productSizeEu,productColorName,baseUnitPrice,discountAmount
2588,3448466,NaN,360837,4054452742083,Zehentrenner Glattleder schwarz,1,69.95,38.0,schwarz,NaN,NaN
2669,3486561,NaN,550727,4054452851600,Eleganter Ballerina Materialmix Lederimitat sc...,1,69.95,38.0,schwarz,NaN,NaN
2688,3490997,NaN,589482,4056068820650,Sportliche Ballerina Glattleder schwarz,1,79.95,40.0,schwarz,NaN,NaN
2782,3507939,NaN,360836,4054452742076,Zehentrenner Glattleder schwarz,1,69.95,37.0,schwarz,NaN,NaN
2783,3507944,NaN,360836,4054452742076,Zehentrenner Glattleder schwarz,1,69.95,37.0,schwarz,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
672314,11127898,NaN,553962,4054452768076,Eleganter Pumps Glattleder Blau,1,89.95,38.5,Blau,89.95,NaN
672337,11128067,NaN,10238971,4065171801067,Riemchensandale Glattleder schwarz,1,99.95,43.0,schwarz,99.95,NaN
672343,11128110,NaN,10238971,4065171801067,Riemchensandale Glattleder schwarz,1,99.95,43.0,schwarz,99.95,NaN
672345,11128123,NaN,10558727,4065171978462,Sneaker low Glattleder multicolour,2,280.00,38.5,multicolour,140.00,NaN
672346,11128124,NaN,10325280,4065171911117,Sneaker low Materialmix Leder/Lederimitat blau,1,99.95,38.5,blau,99.95,NaN

In [13]:
df_orderitems = df_orderitems.dropna(subset=['orderState'])
df_orderitems['productColorName'] = df_orderitems['productColorName'].fillna('')
df_orderitems['productSizeEu'] = df_orderitems['productSizeEu'].fillna('')
df_orderitems = df_orderitems.drop(columns=['baseUnitPrice', 'discountAmount'])

In [14]:
df_orderitems.head()

,o_id,orderState,product__id,productNumber,productName,amount,totalPrice,productSizeEu,productColorName
0,2516728,committed,557559,4058394021466,sportliche Ballerinas Glattleder schwarz,1,89.95,40.0,schwarz
1,2516738,committed,551622,4054452768212,elegante Pumps Glattleder schwarz,1,79.95,38.0,schwarz
2,2516897,committed,547193,4054452768427,Slipper Glattleder schwarz,1,69.95,42.0,schwarz
3,2517058,committed,549776,4059701687894,Sneaker low Rauleder blau,1,130.00,39.0,blau
4,2517149,committed,550599,4056067216898,Sneaker low Rauleder blau,1,99.95,42.5,blau

discountAmount can be dropped

### Orders

In [15]:
df_orders = pd.read_csv('../datasets/gabor/Gabor_Orders.csv')
base_information_dataset(df_orders)

(687868, 6)

,o_id,orderdate,totalPrice,currency,customer__id,items
0,284686,1578023100,200.00,EUR,NaN,",284715,284717,284776,"
1,2516684,1577837740,120.00,EUR,2302078.0,",2516685,"
2,2516686,1577844421,276.95,EUR,2188533.0,",2516687,2516688,2516689,2516690,"
3,2516691,1577861367,120.00,EUR,2302081.0,",2516692,"
4,2516693,1577864086,219.95,EUR,2302084.0,",2516694,2516695,"

               o_id     orderdate     totalPrice  customer__id
count  6.878680e+05  6.878680e+05  687868.000000  6.845660e+05
mean   6.728457e+06  1.630554e+09     170.378086  5.861563e+06
std    2.511329e+06  2.843918e+07     111.284883  2.859958e+06
min    2.846860e+05  1.577838e+09       0.000000  1.940761e+06
25%    4.656816e+06  1.605357e+09      99.950000  3.382538e+06
50%    6.748230e+06  1.630666e+09     125.000000  5.754142e+06
75%    8.921528e+06  1.655566e+09     200.000000  8.307013e+06
max    1.112814e+07  1.679568e+09    1124.660000  1.112815e+07

o_id               0
orderdate          0
totalPrice         0
currency           0
customer__id    3302
items           2327
dtype: int64

orders without customer id and without bought items can be deleted => no value

In [16]:
df_orders = df_orders.dropna(subset=['customer__id'])
df_orders = df_orders.dropna(subset=['items'])

In [17]:
df_orders.head()

,o_id,orderdate,totalPrice,currency,customer__id,items
1,2516684,1577837740,120.00,EUR,2302078.0,",2516685,"
2,2516686,1577844421,276.95,EUR,2188533.0,",2516687,2516688,2516689,2516690,"
3,2516691,1577861367,120.00,EUR,2302081.0,",2516692,"
4,2516693,1577864086,219.95,EUR,2302084.0,",2516694,2516695,"
5,2516696,1577864233,339.00,EUR,2137627.0,",2516697,2516698,2516699,"

### Product Data

In [18]:
df_product_data = pd.read_csv('../datasets/gabor/Gabor_Product_Data_new.csv', low_memory=False)
base_information_dataset(df_product_data)

(173723, 32)

,o_id,o_parentId,articleNumber,articleNumber2,brand__id,mainCategory__id,name,description,gender,deliveryTime,originCountry,line,b2cWebshopStatus,b2cPrice,b2cCurrency,indicatorAdvertisement,indicatorWedding,indicatorSale,mainImage,additionalImage1,additionalImage2,additionalImage3,additionalImage4,additionalImage5,weight__unit,weight__value,material,materialPm,color,closure,relationsUpSelling,relationsColors
0,315682,315607,26.063.48,26.063.48,6590678,315563,Strappy sandal Full-grain leather red,NaN,/System/Optionen/Produktattribute/gender/w,NaN,SK,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,0,799175.0,799170.0,799171.0,799172.0,799173.0,799174.0,3,0.95,/System/Optionen/Produktattribute/material/Rau...,Soft Nubuk,/System/Optionen/Produktattribute/color/rot,/System/Optionen/Produktattribute/closure/Klet...,",587432,321286,321382,321506,330258,",",7588407,588156,587933,588370,"
1,315997,315611,81.530.12,81.530.12,6590677,315565,Sling pump Full-grain leather beige,NaN,/System/Optionen/Produktattribute/gender/w,NaN,PT,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,1,591149.0,591144.0,591145.0,591146.0,591147.0,591148.0,3,0.88,/System/Optionen/Produktattribute/material/Rau...,Samtchevreau,/System/Optionen/Produktattribute/color/beige,/System/Optionen/Produktattribute/closure/Gumm...,",7895518,",",7992534,588425,7588504,320600,7951643,7588330,"
2,316061,315689,62.642.35,62.642.35,6590678,315588,Wedged pump Full-grain leather pink,NaN,/System/Optionen/Produktattribute/gender/w,NaN,PT,/System/Optionen/Produktattribute/line/F-S,0.0,NaN,NaN,0.0,0.0,1,459559.0,459554.0,459555.0,459556.0,459557.0,459558.0,3,0.64,/System/Optionen/Produktattribute/material/Rau...,Soft Nubuk,/System/Optionen/Produktattribute/color/rosa,NaN,",5077031,",",318080,320304,5335437,335087,"
3,316138,315640,06.210.16,06.210.16,6590678,315573,Elegant pumps Imitation leather blue,NaN,/System/Optionen/Produktattribute/gender/w,NaN,SK,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,0,760209.0,760204.0,760205.0,760206.0,760207.0,760208.0,3,0.73,/System/Optionen/Produktattribute/material/Led...,Microvelour HT,/System/Optionen/Produktattribute/color/blau,NaN,",7870291,337153,",",7870291,337153,"
4,316554,315640,92.221.47,92.221.47,6590678,315573,Elegant pumps Full-grain leather black,NaN,/System/Optionen/Produktattribute/gender/w,NaN,SK,/System/Optionen/Produktattribute/line/H-W,1.0,NaN,NaN,0.0,0.0,1,695154.0,695149.0,695150.0,695151.0,695152.0,695153.0,3,0.77,/System/Optionen/Produktattribute/material/Rau...,Samtchevreau,/System/Optionen/Produktattribute/color/schwarz,NaN,",8962773,",",9164918,8962807,7588350,"

,o_id,o_parentId,brand__id,mainCategory__id,deliveryTime,b2cWebshopStatus,b2cPrice,indicatorAdvertisement,indicatorWedding,indicatorSale,mainImage,additionalImage1,additionalImage2,additionalImage3,additionalImage4,additionalImage5,weight__unit,weight__value
count,1.737230e+05,1.737230e+05,1.737230e+05,1.737230e+05,0.0,11407.000000,162568.000000,173471.000000,173471.000000,173723.000000,173290.000000,173290.000000,173273.000000,173255.000000,172770.000000,172533.000000,173723.0,173723.000000
mean,7.088279e+06,5.985804e+06,6.305012e+06,9.057713e+05,NaN,0.752433,115.360479,0.010221,0.001182,0.880828,593183.074447,593169.548860,593174.123597,593145.668044,593242.255120,593170.120957,3.0,0.861023
std,2.376942e+06,3.105705e+06,7.891150e+05,1.512729e+06,NaN,0.523921,23.952120,0.100580,0.034356,0.323992,140494.436730,140503.987475,140494.705945,140494.760606,140135.475389,140328.118989,0.0,0.306806
min,3.156820e+05,3.156040e+05,3.630130e+05,3.155610e+05,NaN,0.000000,35.990000,0.000000,0.000000,0.000000,1769.000000,1766.000000,1768.000000,1767.000000,3953.000000,3954.000000,3.0,0.000000
25%,4.978064e+06,3.907614e+06,6.590677e+06,3.155670e+05,NaN,0.000000,99.950000,0.000000,0.000000,1.000000,474587.000000,474582.000000,474583.000000,474552.000000,474681.000000,474554.000000,3.0,0.630000
50%,7.593142e+06,6.406307e+06,6.590677e+06,3.155730e+05,NaN,1.000000,110.000000,0.000000,0.000000,1.000000,599555.000000,599518.000000,599519.000000,599520.000000,599585.000000,599522.000000,3.0,0.810000
75%,8.807220e+06,8.499437e+06,6.590678e+06,3.155870e+05,NaN,1.000000,130.000000,0.000000,0.000000,1.000000,717720.000000,717747.000000,717716.000000,717685.000000,717590.000000,717687.000000,3.0,1.060000
max,1.111392e+07,1.111390e+07,6.590678e+06,1.064827e+07,NaN,2.000000,270.000000,1.000000,1.000000,1.000000,813799.000000,813794.000000,813795.000000,813796.000000,813797.000000,813798.000000,3.0,2.070000

o_id                           0
o_parentId                     0
articleNumber                  0
articleNumber2                 0
brand__id                      0
mainCategory__id               0
name                           0
description               173439
gender                         0
deliveryTime              173723
originCountry                252
line                           0
b2cWebshopStatus          162316
b2cPrice                   11155
b2cCurrency                11155
indicatorAdvertisement       252
indicatorWedding             252
indicatorSale                  0
mainImage                    433
additionalImage1             433
additionalImage2             450
additionalImage3             468
additionalImage4             953
additionalImage5            1190
weight__unit                   0
weight__value                  0
material                       0
materialPm                     0
color                          0
closure                    29890
relationsUpSelling         13725
relationsColors            68460
dtype: int64

columns with to many null values or no information value:
closure, relationsUpSelling, relationsColors, images, deliveryTime, description (most of the time null), b2cWebshopStatus

rows wo null droppen:
b2cPrice => drop rows where null, because it cannot be sold to regular customers without price, automatically drops b2cCurrency

handle null values
indicatorWedding indicatorAdvertisement: if null => is bag, if null fill with 0.0
originCountry => nan to DE

change values:
line and gender: remove path
description: fill null with empty # todo


weiter anschauen:

deliveryTime: evtl 0 oder max oder default setzen

In [19]:
#df_product_data.indicatorWedding.unique()
df_product_data.b2cWebshopStatus.unique()
df_product_data.line.unique()
df_product_data.deliveryTime.unique()
df_product_data.color.unique()
df_product_data.material.unique()

array(['/System/Optionen/Produktattribute/material/Rauleder',
       '/System/Optionen/Produktattribute/material/Lederimitat',
       '/System/Optionen/Produktattribute/material/Glattleder',
       '/System/Optionen/Produktattribute/material/Textil',
       '/System/Optionen/Produktattribute/material/Effektleder',
       '/System/Optionen/Produktattribute/material/Materialmix Leder',
       '/System/Optionen/Produktattribute/material/Lackleder',
       '/System/Optionen/Produktattribute/material/Materialmix Leder-Lederimitat',
       '/System/Optionen/Produktattribute/material/Leder Reptiloptik',
       '/System/Optionen/Produktattribute/material/Materialmix Lederimitat',
       '/System/Optionen/Produktattribute/material/Materialmix Leder-Textil',
       '/System/Optionen/Produktattribute/material/Wolle',
       '/System/Optionen/Produktattribute/material/Kunstleder',
       '/System/Optionen/Produktattribute/material/Canvas'], dtype=object)

In [20]:
#df_product_data[df_product_data['productSizeEu'].isnull()]
df_product_data[df_product_data['indicatorAdvertisement'].isnull()]
df_product_data[df_product_data['b2cPrice'].isnull()]
df_product_data[df_product_data['deliveryTime'].notnull()]
df_product_data[df_product_data['description'].notnull()]
df_product_data[df_product_data['b2cWebshopStatus'].notnull()]

,o_id,o_parentId,articleNumber,articleNumber2,brand__id,mainCategory__id,name,description,gender,deliveryTime,originCountry,line,b2cWebshopStatus,b2cPrice,b2cCurrency,indicatorAdvertisement,indicatorWedding,indicatorSale,mainImage,additionalImage1,additionalImage2,additionalImage3,additionalImage4,additionalImage5,weight__unit,weight__value,material,materialPm,color,closure,relationsUpSelling,relationsColors
0,315682,315607,26.063.48,26.063.48,6590678,315563,Strappy sandal Full-grain leather red,NaN,/System/Optionen/Produktattribute/gender/w,NaN,SK,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,0,799175.0,799170.0,799171.0,799172.0,799173.0,799174.0,3,0.95,/System/Optionen/Produktattribute/material/Rau...,Soft Nubuk,/System/Optionen/Produktattribute/color/rot,/System/Optionen/Produktattribute/closure/Klet...,",587432,321286,321382,321506,330258,",",7588407,588156,587933,588370,"
1,315997,315611,81.530.12,81.530.12,6590677,315565,Sling pump Full-grain leather beige,NaN,/System/Optionen/Produktattribute/gender/w,NaN,PT,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,1,591149.0,591144.0,591145.0,591146.0,591147.0,591148.0,3,0.88,/System/Optionen/Produktattribute/material/Rau...,Samtchevreau,/System/Optionen/Produktattribute/color/beige,/System/Optionen/Produktattribute/closure/Gumm...,",7895518,",",7992534,588425,7588504,320600,7951643,7588330,"
2,316061,315689,62.642.35,62.642.35,6590678,315588,Wedged pump Full-grain leather pink,NaN,/System/Optionen/Produktattribute/gender/w,NaN,PT,/System/Optionen/Produktattribute/line/F-S,0.0,NaN,NaN,0.0,0.0,1,459559.0,459554.0,459555.0,459556.0,459557.0,459558.0,3,0.64,/System/Optionen/Produktattribute/material/Rau...,Soft Nubuk,/System/Optionen/Produktattribute/color/rosa,NaN,",5077031,",",318080,320304,5335437,335087,"
3,316138,315640,06.210.16,06.210.16,6590678,315573,Elegant pumps Imitation leather blue,NaN,/System/Optionen/Produktattribute/gender/w,NaN,SK,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,0,760209.0,760204.0,760205.0,760206.0,760207.0,760208.0,3,0.73,/System/Optionen/Produktattribute/material/Led...,Microvelour HT,/System/Optionen/Produktattribute/color/blau,NaN,",7870291,337153,",",7870291,337153,"
4,316554,315640,92.221.47,92.221.47,6590678,315573,Elegant pumps Full-grain leather black,NaN,/System/Optionen/Produktattribute/gender/w,NaN,SK,/System/Optionen/Produktattribute/line/H-W,1.0,NaN,NaN,0.0,0.0,1,695154.0,695149.0,695150.0,695151.0,695152.0,695153.0,3,0.77,/System/Optionen/Produktattribute/material/Rau...,Samtchevreau,/System/Optionen/Produktattribute/color/schwarz,NaN,",8962773,",",9164918,8962807,7588350,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173640,11103463,315616,22.862.57,22.862.57,6590678,315568,Platform sandal Smooth leather black,NaN,/System/Optionen/Produktattribute/gender/w,NaN,PT,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,1,813717.0,813712.0,813713.0,813714.0,813715.0,813716.0,3,1.12,/System/Optionen/Produktattribute/material/Gla...,Nappa,/System/Optionen/Produktattribute/color/schwarz,/System/Optionen/Produktattribute/closure/Klet...,",10365600,10359355,10359359,10501416,10459668,",NaN
173641,11103464,315609,22.813.50,22.813.50,6590678,315564,Wedge sandal Smooth leather white,NaN,/System/Optionen/Produktattribute/gender/w,NaN,SK,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,1,813621.0,813616.0,813617.0,813618.0,813619.0,813620.0,3,0.96,/System/Optionen/Produktattribute/material/Gla...,Nappa,/System/Optionen/Produktattribute/color/weiÃŸ,/System/Optionen/Produktattribute/closure/Klet...,",10459660,10459634,10359368,10451117,10558435,",NaN
173642,11103467,315679,23.160.32,23.160.32,6590677,315586,High sneaker Material mix leather beige,NaN,/System/Optionen/Produktattribute/gender/w,NaN,PT,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,1,813685.0,813680.0,813681.0,813682.0,813683.0,813684.0,3,1.02,/System/Optionen/Produktattribute/material/Mat...,Letter/LasVegas,/System/Optionen/Produktattribute/color/beige,/System/Optionen/Produktattribute/closure/ReiÃŸ...,",10223518,10501469,10223482,10310092,10223686,",NaN
173643,11103472,315607,21.781.69,21.781.69,6590677,315563,Strappy sandal Effect leather green,NaN,/System/Optionen/Produktattribute/gender/w,NaN,PT,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,1,813749.0,813744.0,813745.0,813746.0,813747.0,813748.0,3,0.84,/System/Optionen/Produktattribute/material/Eff...,Metal Cervo,/System/Optionen/Produktattribute/color/grÃ¼n,/System/Optionen/Produktattribute/closure/Druc...,",10558459,10238431,10740566,10764860,11103462,",",11103462,"
173707,11113897,315607,22.734.50,22.734.50,6590678,315563,Strappy sandal Smooth leather white,NaN,/System/Optionen/Produktattribute/gender/w,NaN,PT,/System/Optionen/Produktattribute/line/F-S,1.0,NaN,NaN,0.0,0.0,1,813799.0,813794.0,813795.0,813796.0,813797.0,813798.0,3,0.95,/System/Optionen/Produktattribute/material/Gla...,Nappa,/System/Optionen/Produktattribute/color/weiÃŸ,/System/Optionen/Produktattribute/closure/Klet...,",10365616,10365574,10324344,10365618,10365592,",NaN

In [21]:
df_product_data['productType'] = df_product_data['indicatorWedding'].apply(lambda x: 'shoe' if pd.notna(x) else 'bag') ## add column if is shoe or bag

In [22]:
df_product_data['indicatorWedding'] = df_product_data['indicatorWedding'].fillna(0.0)
df_product_data['indicatorAdvertisement'] = df_product_data['indicatorAdvertisement'].fillna(0.0)
df_product_data['originCountry'] = df_product_data['originCountry'].fillna('DE')
df_product_data['description'] = df_product_data['description'].fillna('')

df_product_data = df_product_data.drop(columns=['closure', 'relationsUpSelling', 'relationsColors', 'mainImage', 'additionalImage1','additionalImage2','additionalImage3','additionalImage4','additionalImage5', 'description', 'deliveryTime', 'b2cWebshopStatus'])
df_product_data = df_product_data.dropna(subset=['b2cPrice']) # does drop all null b2cWebshopStatus too

df_product_data['line'] = df_product_data['line'].map({
    '/System/Optionen/Produktattribute/line/F-S': 'F-S',
    '/System/Optionen/Produktattribute/line/H-W': 'H-W',
    '/System/Optionen/Produktattribute/line/F-S|H-W': 'F-S|H-W'
})
df_product_data['gender'] = df_product_data['gender'].map({'/System/Optionen/Produktattribute/gender/w': 'w', '/System/Optionen/Produktattribute/gender/m': 'm'})
df_product_data['color'] = df_product_data['color'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/color/', ''))
df_product_data['material'] = df_product_data['material'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/material/', ''))

In [23]:
base_information_dataset(df_product_data)

(162568, 21)

,o_id,o_parentId,articleNumber,articleNumber2,brand__id,mainCategory__id,name,gender,originCountry,line,b2cPrice,b2cCurrency,indicatorAdvertisement,indicatorWedding,indicatorSale,weight__unit,weight__value,material,materialPm,color,productType
503,360824,317091,03.700.13,03.700.13,6590677,315594,Toe separator Full-grain leather brown,w,SK,F-S,79.95,EUR,0.0,0.0,0,3,0.57,Rauleder,Nubuk Lavato,braun,shoe
504,360825,317091,03.700.13,03.700.13,6590677,315594,Toe separator Full-grain leather brown,w,SK,F-S,79.95,EUR,0.0,0.0,0,3,0.57,Rauleder,Nubuk Lavato,braun,shoe
505,360826,317091,03.700.13,03.700.13,6590677,315594,Toe separator Full-grain leather brown,w,SK,F-S,79.95,EUR,0.0,0.0,0,3,0.57,Rauleder,Nubuk Lavato,braun,shoe
506,360827,317091,03.700.13,03.700.13,6590677,315594,Toe separator Full-grain leather brown,w,SK,F-S,79.95,EUR,0.0,0.0,0,3,0.57,Rauleder,Nubuk Lavato,braun,shoe
507,360828,317091,03.700.13,03.700.13,6590677,315594,Toe separator Full-grain leather brown,w,SK,F-S,79.95,EUR,0.0,0.0,0,3,0.57,Rauleder,Nubuk Lavato,braun,shoe

,o_id,o_parentId,brand__id,mainCategory__id,b2cPrice,indicatorAdvertisement,indicatorWedding,indicatorSale,weight__unit,weight__value
count,1.625680e+05,1.625680e+05,1.625680e+05,1.625680e+05,162568.000000,162568.000000,162568.000000,162568.000000,162568.0,162568.000000
mean,7.135803e+06,6.334273e+06,6.303828e+06,9.056657e+05,115.360479,0.010180,0.001169,0.881606,3.0,0.848094
std,2.332297e+06,2.873020e+06,7.920261e+05,1.511116e+06,23.952120,0.100383,0.034167,0.323075,0.0,0.303929
min,3.608240e+05,3.156820e+05,3.630130e+05,3.155610e+05,35.990000,0.000000,0.000000,0.000000,3.0,0.000000
25%,4.978938e+06,4.113916e+06,6.590677e+06,3.155670e+05,99.950000,0.000000,0.000000,1.000000,3.0,0.620000
50%,7.594346e+06,6.551835e+06,6.590677e+06,3.155730e+05,110.000000,0.000000,0.000000,1.000000,3.0,0.790000
75%,8.807740e+06,8.629854e+06,6.590678e+06,3.155870e+05,130.000000,0.000000,0.000000,1.000000,3.0,1.050000
max,1.111392e+07,1.111390e+07,6.590678e+06,1.064827e+07,270.000000,1.000000,1.000000,1.000000,3.0,2.070000

o_id                      0
o_parentId                0
articleNumber             0
articleNumber2            0
brand__id                 0
mainCategory__id          0
name                      0
gender                    0
originCountry             0
line                      0
b2cPrice                  0
b2cCurrency               0
indicatorAdvertisement    0
indicatorWedding          0
indicatorSale             0
weight__unit              0
weight__value             0
material                  0
materialPm                0
color                     0
productType               0
dtype: int64

In [24]:
### Shoe Data

In [25]:
df_shoe_data = pd.read_csv('../datasets/gabor/Gabor_Shoe_Data.csv',low_memory=False)
base_information_dataset(df_shoe_data)

(173478, 29)

,o_id,fieldname,heelForm,style,shoeTip,shaftWidth,lining,heelHeight__value,heelHeight__unit,liningPm,width,hasOwnAssortment,shoeType,formGroup,model,specialOutfits,shoeStyle,productType,productStickers,heelHeightGroup,sizeEu,sizeUk,sizeIndex,shaftLength__value,shaftLength__unit,sole,isTransferee,specialMarks,isSuccessor
0,315682,attributes,/System/Optionen/Produktattribute/heel_form/fl...,/System/Optionen/Produktattribute/style/SPC,/System/Optionen/Produktattribute/shoe_tip/rund,NaN,/System/Optionen/Produktattribute/lining/Micro...,3.0,1.0,Microfaser,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/Ri...,2606,26063.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,NaN,3 cm - 5 cm,NaN,NaN,NaN,NaN,NaN,/System/Optionen/Produktattribute/sole/Gummi,1.0,NaN,1.0
1,315997,attributes,/System/Optionen/Produktattribute/heel_form/Bl...,/System/Optionen/Produktattribute/style/ELK,/System/Optionen/Produktattribute/shoe_tip/spitz,NaN,/System/Optionen/Produktattribute/lining/Leder...,3.0,1.0,Leder,/System/Optionen/Produktattribute/width/F,0.0,/System/Optionen/Produktattribute/shoe_type/Sl...,8153,81530.0,NaN,/System/Optionen/Produktattribute/shoe_style/P...,/System/Optionen/Produktattribute/product_type...,NaN,3 cm - 5 cm,NaN,NaN,NaN,NaN,NaN,/System/Optionen/Produktattribute/sole/TPU,1.0,NaN,1.0
2,316061,attributes,/System/Optionen/Produktattribute/heel_form/Ke...,/System/Optionen/Produktattribute/style/SPC,/System/Optionen/Produktattribute/shoe_tip/rund,NaN,/System/Optionen/Produktattribute/lining/Texti...,4.0,1.0,Vlies,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/Ke...,6264,62642.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/P...,/System/Optionen/Produktattribute/product_type...,NaN,3 cm - 5 cm,NaN,NaN,NaN,NaN,NaN,/System/Optionen/Produktattribute/sole/TR,0.0,NaN,1.0
3,316138,attributes,/System/Optionen/Produktattribute/heel_form/Bl...,/System/Optionen/Produktattribute/style/ELK,/System/Optionen/Produktattribute/shoe_tip/rund,NaN,/System/Optionen/Produktattribute/lining/Texti...,3.5,1.0,High Tech,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/el...,0621,6210.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/P...,/System/Optionen/Produktattribute/product_type...,NaN,3 cm - 5 cm,NaN,NaN,NaN,NaN,NaN,/System/Optionen/Produktattribute/sole/TPU,1.0,NaN,1.0
4,316554,attributes,/System/Optionen/Produktattribute/heel_form/Bl...,/System/Optionen/Produktattribute/style/ELK,/System/Optionen/Produktattribute/shoe_tip/rund,NaN,/System/Optionen/Produktattribute/lining/Leder...,4.0,1.0,Leder,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/el...,9222,92221.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/P...,/System/Optionen/Produktattribute/product_type...,NaN,3 cm - 5 cm,NaN,NaN,NaN,NaN,NaN,/System/Optionen/Produktattribute/sole/Gummi,1.0,NaN,1.0

,o_id,heelHeight__value,heelHeight__unit,hasOwnAssortment,model,sizeEu,sizeUk,sizeIndex,shaftLength__value,shaftLength__unit,isTransferee,isSuccessor
count,1.734780e+05,173471.000000,173471.0,173471.000000,173471.000000,162316.000000,162316.000000,162316.000000,166934.000000,166934.0,173471.000000,34214.0
mean,7.083288e+06,4.195220,1.0,0.117904,73252.319068,39.617287,6.246494,9.947294,6.264470,1.0,0.144508,1.0
std,2.375133e+06,1.350044,0.0,0.322496,81144.234649,2.988861,2.341143,4.319587,9.768647,0.0,0.351605,0.0
min,3.156820e+05,0.800000,1.0,0.000000,1260.000000,35.000000,2.500000,3.000000,0.000000,1.0,0.000000,1.0
25%,4.977994e+06,3.500000,1.0,0.000000,52792.000000,37.500000,4.500000,6.000000,0.000000,1.0,0.000000,1.0
50%,7.592998e+06,4.000000,1.0,0.000000,66827.000000,39.000000,6.000000,10.000000,0.000000,1.0,0.000000,1.0
75%,8.807030e+06,5.000000,1.0,0.000000,86465.000000,42.000000,8.000000,14.000000,13.000000,1.0,0.000000,1.0
max,1.111392e+07,8.500000,1.0,1.000000,800550.000000,49.500000,14.000000,20.000000,54.000000,1.0,1.000000,1.0

o_id                       0
fieldname                  0
heelForm                   7
style                      7
shoeTip                    7
shaftWidth            167897
lining                  8353
heelHeight__value          7
heelHeight__unit           7
liningPm                2505
width                   9849
hasOwnAssortment           7
shoeType                   7
formGroup                  7
model                      7
specialOutfits         15080
shoeStyle                  7
productType                7
productStickers       173006
heelHeightGroup            7
sizeEu                 11162
sizeUk                 11162
sizeIndex              11162
shaftLength__value      6544
shaftLength__unit       6544
sole                       7
isTransferee               7
specialMarks          167234
isSuccessor           139264
dtype: int64

In [26]:
df_shoe_data['shoeType'].unique()

array(['/System/Optionen/Produktattribute/shoe_type/Riemchensandalen',
       '/System/Optionen/Produktattribute/shoe_type/Slingpumps',
       '/System/Optionen/Produktattribute/shoe_type/Keilpumps',
       '/System/Optionen/Produktattribute/shoe_type/elegante Pumps',
       '/System/Optionen/Produktattribute/shoe_type/elegante Stiefeletten',
       '/System/Optionen/Produktattribute/shoe_type/Spangenpumps',
       '/System/Optionen/Produktattribute/shoe_type/Zehentrenner',
       '/System/Optionen/Produktattribute/shoe_type/Sneaker low',
       '/System/Optionen/Produktattribute/shoe_type/sportliche Ballerinas',
       '/System/Optionen/Produktattribute/shoe_type/SchnÃ¼rstiefeletten',
       '/System/Optionen/Produktattribute/shoe_type/Mokassins',
       '/System/Optionen/Produktattribute/shoe_type/Slipper',
       '/System/Optionen/Produktattribute/shoe_type/Pantoletten',
       '/System/Optionen/Produktattribute/shoe_type/elegante Ballerinas',
       '/System/Optionen/Produktattribute/shoe_type/Plateau Stiefeletten',
       '/System/Optionen/Produktattribute/shoe_type/Keilsandaletten',
       '/System/Optionen/Produktattribute/shoe_type/Chelsea Boots',
       '/System/Optionen/Produktattribute/shoe_type/Plateau Pumps',
       '/System/Optionen/Produktattribute/shoe_type/SchnÃ¼rpumps',
       '/System/Optionen/Produktattribute/shoe_type/sportliche Stiefeletten',
       '/System/Optionen/Produktattribute/shoe_type/elegante Stiefel',
       '/System/Optionen/Produktattribute/shoe_type/Reiterstiefel',
       '/System/Optionen/Produktattribute/shoe_type/Sneaker high',
       '/System/Optionen/Produktattribute/shoe_type/Ankle Boots',
       '/System/Optionen/Produktattribute/shoe_type/Winterstiefel',
       '/System/Optionen/Produktattribute/shoe_type/Hochfrontpumps',
       '/System/Optionen/Produktattribute/shoe_type/SchnÃ¼rschuhe',
       '/System/Optionen/Produktattribute/shoe_type/Winterstiefeletten',
       '/System/Optionen/Produktattribute/shoe_type/Biker- und Combat Boots',
       '/System/Optionen/Produktattribute/shoe_type/sportliche Stiefel',
       '/System/Optionen/Produktattribute/shoe_type/Plateau Sandalen',
       '/System/Optionen/Produktattribute/shoe_type/Trekkingsandalen',
       '/System/Optionen/Produktattribute/shoe_type/Peeptoes',
       '/System/Optionen/Produktattribute/shoe_type/Plateau Stiefel', nan,
       '/System/Optionen/Produktattribute/shoe_type/Boots',
       '/System/Optionen/Produktattribute/shoe_type/Clogs',
       '/System/Optionen/Produktattribute/shoe_type/Klassische Hausschuhe',
       '/System/Optionen/Produktattribute/shoe_type/Overknees',
       '/System/Optionen/Produktattribute/shoe_type/PlÃ¼schhausschuhe'],
      dtype=object)

In [27]:
df_shoe_data[df_shoe_data['productStickers'].notnull()]

,o_id,fieldname,heelForm,style,shoeTip,shaftWidth,lining,heelHeight__value,heelHeight__unit,liningPm,width,hasOwnAssortment,shoeType,formGroup,model,specialOutfits,shoeStyle,productType,productStickers,heelHeightGroup,sizeEu,sizeUk,sizeIndex,shaftLength__value,shaftLength__unit,sole,isTransferee,specialMarks,isSuccessor
97345,7789086,attributes,/System/Optionen/Produktattribute/heel_form/Ke...,/System/Optionen/Produktattribute/style/SPC,/System/Optionen/Produktattribute/shoe_tip/karree,NaN,/System/Optionen/Produktattribute/lining/Texti...,7.0,1.0,High Tech,/System/Optionen/Produktattribute/width/F,0.0,/System/Optionen/Produktattribute/shoe_type/Pa...,8471,84710.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",5 cm - 8 cm,NaN,NaN,NaN,0.0,1.0,/System/Optionen/Produktattribute/sole/PU-TPU,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN
97385,7789126,attributes,/System/Optionen/Produktattribute/heel_form/fl...,/System/Optionen/Produktattribute/style/SPC,/System/Optionen/Produktattribute/shoe_tip/rund,NaN,/System/Optionen/Produktattribute/lining/Leder...,4.0,1.0,Leder,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/Sn...,8636,86366.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",3 cm - 5 cm,NaN,NaN,NaN,0.0,1.0,/System/Optionen/Produktattribute/sole/EVA-TR,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN
99461,7791776,attributes,/System/Optionen/Produktattribute/heel_form/Ke...,/System/Optionen/Produktattribute/style/SPC,/System/Optionen/Produktattribute/shoe_tip/karree,NaN,/System/Optionen/Produktattribute/lining/Texti...,7.0,1.0,High Tech,/System/Optionen/Produktattribute/width/F,0.0,/System/Optionen/Produktattribute/shoe_type/Pa...,8471,84710.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",5 cm - 8 cm,35.0,2.5,3.0,0.0,1.0,/System/Optionen/Produktattribute/sole/PU-TPU,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN
99462,7791777,attributes,/System/Optionen/Produktattribute/heel_form/Ke...,/System/Optionen/Produktattribute/style/SPC,/System/Optionen/Produktattribute/shoe_tip/karree,NaN,/System/Optionen/Produktattribute/lining/Texti...,7.0,1.0,High Tech,/System/Optionen/Produktattribute/width/F,0.0,/System/Optionen/Produktattribute/shoe_type/Pa...,8471,84710.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",5 cm - 8 cm,35.5,3.0,4.0,0.0,1.0,/System/Optionen/Produktattribute/sole/PU-TPU,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN
99463,7791778,attributes,/System/Optionen/Produktattribute/heel_form/Ke...,/System/Optionen/Produktattribute/style/SPC,/System/Optionen/Produktattribute/shoe_tip/karree,NaN,/System/Optionen/Produktattribute/lining/Texti...,7.0,1.0,High Tech,/System/Optionen/Produktattribute/width/F,0.0,/System/Optionen/Produktattribute/shoe_type/Pa...,8471,84710.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",5 cm - 8 cm,36.0,3.5,5.0,0.0,1.0,/System/Optionen/Produktattribute/sole/PU-TPU,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164989,10504341,attributes,/System/Optionen/Produktattribute/heel_form/Bl...,/System/Optionen/Produktattribute/style/ELK,/System/Optionen/Produktattribute/shoe_tip/karree,NaN,/System/Optionen/Produktattribute/lining/Leder...,6.0,1.0,Leder,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/Pl...,2293,22933.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",5 cm - 8 cm,41.0,7.5,13.0,0.0,1.0,/System/Optionen/Produktattribute/sole/TR,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN
164990,10504342,attributes,/System/Optionen/Produktattribute/heel_form/Bl...,/System/Optionen/Produktattribute/style/ELK,/System/Optionen/Produktattribute/shoe_tip/karree,NaN,/System/Optionen/Produktattribute/lining/Leder...,6.0,1.0,Leder,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/Pl...,2293,22933.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",5 cm - 8 cm,42.0,8.0,14.0,0.0,1.0,/System/Optionen/Produktattribute/sole/TR,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN
164991,10504343,attributes,/System/Optionen/Produktattribute/heel_form/Bl...,/System/Optionen/Produktattribute/style/ELK,/System/Optionen/Produktattribute/shoe_tip/karree,NaN,/System/Optionen/Produktattribute/lining/Leder...,6.0,1.0,Leder,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/Pl...,2293,22933.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",5 cm - 8 cm,42.5,8.5,15.0,0.0,1.0,/System/Optionen/Produktattribute/sole/TR,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN
164992,10504344,attributes,/System/Optionen/Produktattribute/heel_form/Bl...,/System/Optionen/Produktattribute/style/ELK,/System/Optionen/Produktattribute/shoe_tip/karree,NaN,/System/Optionen/Produktattribute/lining/Leder...,6.0,1.0,Leder,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/Pl...,2293,22933.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",5 cm - 8 cm,43.0,9.0,16.0,0.0,1.0,/System/Optionen/Produktattribute/sole/TR,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN
164993,10504345,attributes,/System/Optionen/Produktattribute/heel_form/Bl...,/System/Optionen/Produktattribute/style/ELK,/System/Optionen/Produktattribute/shoe_tip/karree,NaN,/System/Optionen/Produktattribute/lining/Leder...,6.0,1.0,Leder,/System/Optionen/Produktattribute/width/G,0.0,/System/Optionen/Produktattribute/shoe_type/Pl...,2293,22933.0,",/System/Optionen/Produktattribute/special_out...",/System/Optionen/Produktattribute/shoe_style/S...,/System/Optionen/Produktattribute/product_type...,",/System/Optionen/Produktattribute/product_sti...",5 cm - 8 cm,44.0,9.5,17.0,0.0,1.0,/System/Optionen/Produktattribute/sole/TR,0.0,",/System/Optionen/Produktattribute/special_mar...",NaN

heel form/style/shoe tip/lining/liningPm/width/special_outfit/shoeStyle, specialMarks: remove path

shaft width, shaftLength__unit, productStickers: droppen, mostly null or just one value

if no shoe size, it is a parent and the size variants are a separate row, drop them

heelHeight__value/heelHeight__unit: null werte anschauen

In [28]:
df_shoe_data = df_shoe_data.drop(columns=['shaftWidth', 'shaftLength__unit', 'productStickers', 'specialMarks'])
df_shoe_data = df_shoe_data.dropna(subset=['sizeEu'])

df_shoe_data['shaftLength__value'] = df_shoe_data['shaftLength__value'].fillna(0.0)
df_shoe_data['lining'] = df_shoe_data['lining'].fillna('')
df_shoe_data['width'] = df_shoe_data['width'].fillna('')
df_shoe_data['specialOutfits'] = df_shoe_data['specialOutfits'].fillna('')
df_shoe_data['shoeStyle'] = df_shoe_data['shoeStyle'].fillna('')
df_shoe_data['liningPm'] = df_shoe_data['liningPm'].fillna('')
df_shoe_data['isSuccessor'] = df_shoe_data['isSuccessor'].fillna(0)



df_shoe_data['heelForm'] = df_shoe_data['heelForm'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/heel_form/', ''))
df_shoe_data['style'] = df_shoe_data['style'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/style/', ''))
df_shoe_data['shoeTip'] = df_shoe_data['shoeTip'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/shoe_tip/', ''))
df_shoe_data['lining'] = df_shoe_data['lining'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/lining/', ''))
df_shoe_data['width'] = df_shoe_data['width'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/width/', ''))
df_shoe_data['specialOutfits'] = df_shoe_data['specialOutfits'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/special_outfit/', ''))
df_shoe_data['shoeStyle'] = df_shoe_data['shoeStyle'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/shoe_style/', ''))
df_shoe_data['sole'] = df_shoe_data['sole'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/sole/', ''))
df_shoe_data['productType'] = df_shoe_data['productType'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/product_type/', ''))
df_shoe_data['shoeType'] = df_shoe_data['shoeType'].apply(lambda x: x.replace('/System/Optionen/Produktattribute/shoe_type/', ''))

In [29]:
base_information_dataset(df_shoe_data)

(162316, 25)

,o_id,fieldname,heelForm,style,shoeTip,lining,heelHeight__value,heelHeight__unit,liningPm,width,hasOwnAssortment,shoeType,formGroup,model,specialOutfits,shoeStyle,productType,heelHeightGroup,sizeEu,sizeUk,sizeIndex,shaftLength__value,sole,isTransferee,isSuccessor
503,360824,attributes,flacher Absatz,ELK,rund,Lederfutter,2.0,1.0,Leder,F,0.0,Zehentrenner,0370,3700.0,",BEFI,",Sandalen,Damenschuhe,bis 3 cm,36.0,3.5,4.0,0.0,Gummi,0.0,0.0
504,360825,attributes,flacher Absatz,ELK,rund,Lederfutter,2.0,1.0,Leder,F,0.0,Zehentrenner,0370,3700.0,",BEFI,",Sandalen,Damenschuhe,bis 3 cm,37.0,4.0,5.0,0.0,Gummi,0.0,0.0
505,360826,attributes,flacher Absatz,ELK,rund,Lederfutter,2.0,1.0,Leder,F,0.0,Zehentrenner,0370,3700.0,",BEFI,",Sandalen,Damenschuhe,bis 3 cm,38.0,5.0,6.0,0.0,Gummi,0.0,0.0
506,360827,attributes,flacher Absatz,ELK,rund,Lederfutter,2.0,1.0,Leder,F,0.0,Zehentrenner,0370,3700.0,",BEFI,",Sandalen,Damenschuhe,bis 3 cm,39.0,6.0,7.0,0.0,Gummi,0.0,0.0
507,360828,attributes,flacher Absatz,ELK,rund,Lederfutter,2.0,1.0,Leder,F,0.0,Zehentrenner,0370,3700.0,",BEFI,",Sandalen,Damenschuhe,bis 3 cm,40.0,6.5,8.0,0.0,Gummi,0.0,0.0

,o_id,heelHeight__value,heelHeight__unit,hasOwnAssortment,model,sizeEu,sizeUk,sizeIndex,shaftLength__value,isTransferee,isSuccessor
count,1.623160e+05,162316.000000,162316.0,162316.000000,162316.000000,162316.000000,162316.000000,162316.000000,162316.000000,162316.000000,162316.000000
mean,7.130640e+06,4.195830,1.0,0.117924,73233.691990,39.617287,6.246494,9.947294,6.037359,0.144564,0.197331
std,2.330314e+06,1.348803,0.0,0.322519,80986.572311,2.988861,2.341143,4.319587,9.661865,0.351661,0.397986
min,3.608240e+05,0.800000,1.0,0.000000,1260.000000,35.000000,2.500000,3.000000,0.000000,0.000000,0.000000
25%,4.978875e+06,3.500000,1.0,0.000000,52792.000000,37.500000,4.500000,6.000000,0.000000,0.000000,0.000000
50%,7.594190e+06,4.000000,1.0,0.000000,66827.000000,39.000000,6.000000,10.000000,0.000000,0.000000,0.000000
75%,8.807551e+06,5.000000,1.0,0.000000,86465.000000,42.000000,8.000000,14.000000,13.000000,0.000000,0.000000
max,1.111392e+07,8.500000,1.0,1.000000,800550.000000,49.500000,14.000000,20.000000,54.000000,1.000000,1.000000

o_id                  0
fieldname             0
heelForm              0
style                 0
shoeTip               0
lining                0
heelHeight__value     0
heelHeight__unit      0
liningPm              0
width                 0
hasOwnAssortment      0
shoeType              0
formGroup             0
model                 0
specialOutfits        0
shoeStyle             0
productType           0
heelHeightGroup       0
sizeEu                0
sizeUk                0
sizeIndex             0
shaftLength__value    0
sole                  0
isTransferee          0
isSuccessor           0
dtype: int64