In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)

In [2]:
basepath = '../datasets/preprocessed_datasets/gabor/'
product_data = pd.read_pickle(basepath +'orders_and_products_by_customer.pkl')
# product_data = product_data.sample(n=1000)
display(product_data)

,customer_id,order_ids,product_ids,product_names,amounts,total_prices,order_dates
0,1940761.0,"[5624878, 7011005, 7673667, 8888291, 11032470]","[[4839681, 4839682], [6596395], [6523930], [8642222, 8668342], [10227383, 10227384]]","[[PG1018 Slipper Materialmix Leder/Textil grün, PG1018 Slipper Materialmix Leder/Textil grün], [7302 Hausschuhe Textil rot], [PG6000 Pantolette Textil blau], [Schnürstiefelette Glattleder schwarz, Winterstiefelette Glattleder schwarz], [PG8001 Sneaker low Rauleder grau, PG8001 Sneaker low Rauleder grau]]","[[1, 1], [1], [1], [1, 1], [1, 1]]","[[62.65, 62.65], [51.77], [46.77], [96.69, 91.69], [86.69, 86.69]]","[[1618487327, 1618487327], [1633324590], [1639662211], [1655121717, 1655121717], [1678768911, 1678768911]]"
1,1940767.0,[5108369],"[[3849255, 4822681]]","[[Spangenpumps Textil silber, Plateau Pumps Rauleder rot]]","[[1, 1]]","[[99.95, 99.95]]","[[1612878241, 1612878241]]"
2,1940775.0,"[4962102, 6875196]","[[3907778], [6556855, 6556856]]","[[Chelsea Boot Rauleder schwarz], [Slipper Rauleder schwarz, Slipper Rauleder schwarz]]","[[1], [1, 1]]","[[69.0], [99.95, 99.95]]","[[1611064682], [1632138724, 1632138724]]"
3,1940782.0,[7417330],"[[6407177, 6435918]]","[[Elegante Stiefelette Glattleder schwarz, Winterstiefelette Glattleder schwarz]]","[[1, 1]]","[[125.0, 99.95]]","[[1636809128, 1636809128]]"
4,1940806.0,[10781348],[[8642140]],[[Chelsea Boot Rauleder schwarz]],[[1]],[[69.0]],[[1676378784]]
...,...,...,...,...,...,...,...
357774,11128024.0,[11128020],"[[589817, 10560958]]","[[Eleganter Pumps Glattleder blau, Eleganter Pumps Glattleder schwarz]]","[[1, 1]]","[[89.95, 99.95]]","[[1679567301, 1679567301]]"
357775,11128039.0,[11128051],[[10451840]],[[Sneaker low Rauleder pink]],[[1]],[[120.0]],[[1679567402]]
357776,11128082.0,[11128080],[[10559336]],[[Eleganter Pumps Effektleder beige]],[[1]],[[110.0]],[[1679567490]]
357777,11128095.0,[11128092],[[10504300]],[[Sneaker low Materialmix Leder pink]],[[1]],[[115.0]],[[1679567542]]
357778,11128129.0,[11128127],[[10366497]],[[Sneaker low Materialmix Leder weiß]],[[1]],[[140.0]],[[1679567620]]

In [3]:
interactions = []
for _, row in product_data.iterrows():
    customer_id = int(row['customer_id'])
    order_ids = row['order_ids']
    product_ids = row['product_ids']
    amounts = row['amounts']

    for order_id, product_ids2, amounts2 in zip(order_ids, product_ids, amounts):
        count = 0
        for product_id, amount in zip (product_ids2, amounts2):
            interactions.append({'customer_id': customer_id, 'product_id': product_id, 'amount': amount})

# Create user-item interaction DataFrame
interaction_df = pd.DataFrame(interactions)
# display(interaction_df, interaction_df[interaction_df['customer_id'] == 2156113.0])
# Group by customer_id and product_id, summing up the amounts
user_item_interaction = interaction_df.groupby(['customer_id', 'product_id'], as_index=False).sum()

In [4]:
display(user_item_interaction)

        customer_id  product_id  amount
0           1940761     4839681       1
1           1940761     4839682       1
2           1940761     6523930       1
3           1940761     6596395       1
4           1940761     8642222       1
...             ...         ...     ...
644783     11128024    10560958       1
644784     11128039    10451840       1
644785     11128082    10559336       1
644786     11128095    10504300       1
644787     11128129    10366497       1

[644788 rows x 3 columns]

In [ ]:
pivot_df = user_item_interaction.pivot_table(index='customer_id', columns='product_id', values='amount', aggfunc='sum', fill_value=0)
display(pivot_df)

/var/folders/jp/3q1jwf6d5n11rx71jwtqcgv80000gn/T/ipykernel_31891/3649737873.py:1: PerformanceWarning: The following operation may generate 38918126283 cells in the resulting pandas object.
  pivot_df = user_item_interaction.pivot_table(index='customer_id', columns='product_id', values='amount', aggfunc='sum', fill_value=0)

In [ ]:
pivot_df

In [ ]:
user_item_interaction.to_pickle(basepath + 'user_item_interactions.pkl')