In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)

In [2]:
basepath = '../datasets/preprocessed_datasets/gabor/'
product_data = pd.read_pickle(basepath +'orders_and_products_by_customer.pkl')
# product_data = product_data.sample(n=1000)
display(product_data)

,customer_id,order_ids,product_ids,product_names,amounts,total_prices,order_dates
0,1940761.0,"[5624878, 7011005, 7673667, 8888291, 11032470]","[[4839681, 4839682], [6596395], [6523930], [8642222, 8668342], [10227383, 10227384]]","[[PG1018 Slipper Materialmix Leder/Textil grün, PG1018 Slipper Materialmix Leder/Textil grün], [7302 Hausschuhe Textil rot], [PG6000 Pantolette Textil blau], [Schnürstiefelette Glattleder schwarz, Winterstiefelette Glattleder schwarz], [PG8001 Sneaker low Rauleder grau, PG8001 Sneaker low Rauleder grau]]","[[1, 1], [1], [1], [1, 1], [1, 1]]","[[62.65, 62.65], [51.77], [46.77], [96.69, 91.69], [86.69, 86.69]]","[[1618487327, 1618487327], [1633324590], [1639662211], [1655121717, 1655121717], [1678768911, 1678768911]]"
1,1940767.0,[5108369],"[[3849255, 4822681]]","[[Spangenpumps Textil silber, Plateau Pumps Rauleder rot]]","[[1, 1]]","[[99.95, 99.95]]","[[1612878241, 1612878241]]"
2,1940775.0,"[4962102, 6875196]","[[3907778], [6556855, 6556856]]","[[Chelsea Boot Rauleder schwarz], [Slipper Rauleder schwarz, Slipper Rauleder schwarz]]","[[1], [1, 1]]","[[69.0], [99.95, 99.95]]","[[1611064682], [1632138724, 1632138724]]"
3,1940782.0,[7417330],"[[6407177, 6435918]]","[[Elegante Stiefelette Glattleder schwarz, Winterstiefelette Glattleder schwarz]]","[[1, 1]]","[[125.0, 99.95]]","[[1636809128, 1636809128]]"
4,1940806.0,[10781348],[[8642140]],[[Chelsea Boot Rauleder schwarz]],[[1]],[[69.0]],[[1676378784]]
...,...,...,...,...,...,...,...
357774,11128024.0,[11128020],"[[589817, 10560958]]","[[Eleganter Pumps Glattleder blau, Eleganter Pumps Glattleder schwarz]]","[[1, 1]]","[[89.95, 99.95]]","[[1679567301, 1679567301]]"
357775,11128039.0,[11128051],[[10451840]],[[Sneaker low Rauleder pink]],[[1]],[[120.0]],[[1679567402]]
357776,11128082.0,[11128080],[[10559336]],[[Eleganter Pumps Effektleder beige]],[[1]],[[110.0]],[[1679567490]]
357777,11128095.0,[11128092],[[10504300]],[[Sneaker low Materialmix Leder pink]],[[1]],[[115.0]],[[1679567542]]
357778,11128129.0,[11128127],[[10366497]],[[Sneaker low Materialmix Leder weiß]],[[1]],[[140.0]],[[1679567620]]

In [3]:
interactions = []
for _, row in product_data.iterrows():
    customer_id = int(row['customer_id'])
    order_ids = row['order_ids']
    product_ids = row['product_ids']
    amounts = row['amounts']

    for order_id, product_ids2, amounts2 in zip(order_ids, product_ids, amounts):
        count = 0
        for product_id, amount in zip (product_ids2, amounts2):
            interactions.append({'customer_id': customer_id, 'product_id': product_id, 'amount': amount})

# Create user-item interaction DataFrame
interaction_df = pd.DataFrame(interactions)
# display(interaction_df, interaction_df[interaction_df['customer_id'] == 2156113.0])
# Group by customer_id and product_id, summing up the amounts
user_item_interaction = interaction_df.groupby(['customer_id', 'product_id'], as_index=False).sum()

In [4]:
display(user_item_interaction)

        customer_id  product_id  amount
0           1940761     4839681       1
1           1940761     4839682       1
2           1940761     6523930       1
3           1940761     6596395       1
4           1940761     8642222       1
...             ...         ...     ...
644783     11128024    10560958       1
644784     11128039    10451840       1
644785     11128082    10559336       1
644786     11128095    10504300       1
644787     11128129    10366497       1

[644788 rows x 3 columns]

In [5]:
user_item_interaction.to_pickle(basepath + 'user_item_interactions.pkl')

## create a table with only the main products

In [6]:
product_data = pd.read_pickle(basepath + 'no_product_variants_with_duplicate_ids.pkl')
display(product_data)

,main_product_id,productNumber,productName,productColorName,articleNumber,brand__id,mainCategory__id,gender,originCountry,line,...,heelHeightGroup,sizeEu,sizeUk,sizeIndex,shaftLength__value,sole,isTransferee,isSuccessor,duplicate_product__ids,product_sizes
0,557559,4058394021466,sportliche Ballerinas Glattleder schwarz,schwarz,02.643.57,6590678,315571,w,PT,F-S|H-W,...,bis 3 cm,40.0,6.5,11.0,0.0,Gummi,0.0,0.0,"[557559, 549733, 549734, 557553, 589488, 589480, 589481, 589486, 549735, 589489, 589477, 589490, 589483, 589479, 557556, 589485, 589482, 589478, 589475, 549732, 549729, 549730, 589484, 549738, 549731, 557561, 589487]","[35.5, 36.0, 37.0, 37.5, 38.0, 38.5, 39.0, 40.0, 40.5, 41.0, 42.0, 42.5, 43.0, 44.0, 44.5, 46.0]"
1,551622,4054452768212,elegante Pumps Glattleder schwarz,schwarz,05.160.37,6590677,315573,w,PT,F-S|H-W,...,3 cm - 5 cm,38.0,5.0,8.0,0.0,EVA,0.0,0.0,"[551622, 551505, 551510, 551509, 552973, 551621, 551501, 551503, 551502, 556960, 551628, 552970, 556954, 556964, 552966, 551500, 551629, 604774, 604773, 604772, 551508, 604776, 552972, 551617, 552969, 604771, 556958, 604778, 551630, 556952, 551620, 551627, 604782, 604775, 551504, 551506, 551619, 604769, 552975, 552974, 604768, 551507, 552971, 556956, 551623, 551511, 551626, 604780, 552964, 604779, 551631, 551624, 556953, 604777, 551512, 552968, 552963, 552962, 552976, 604770, 552967, 556951, 556961, 556955, 556950]","[35.0, 35.5, 36.0, 37.0, 37.5, 38.0, 38.5, 39.0, 40.0, 40.5, 41.0, 42.0, 42.5, 43.0, 44.0, 44.5]"
2,547193,4054452768427,Slipper Glattleder schwarz,schwarz,04.443.27,6590677,315576,w,SK,F-S|H-W,...,3 cm - 5 cm,42.0,8.0,14.0,0.0,PU-TPU,0.0,0.0,"[547193, 547191, 547196, 547187, 547189, 547195, 547192, 547190, 547185, 547188, 547182, 547183, 547184, 547194, 547186, 3483121, 3483123, 3483120, 3554723, 3554724, 3554732, 3554725, 3554729, 3483124, 3483129, 3591864, 3591866, 3554731, 3483128, 3694614, 3694623, 3694616, 3554730, 3711336, 3483126, 3554733, 3694625, 3483133, 3711328, 3711335, 3592196, 3711332, 3554726, 3743383, 3592206, 3743385, 3694615, 3483127, 3694613, 3711737, 3743393, 3743384, 3591852, 3711337, 3592197, 3591857, 3591859, 3743382, 3743390, 3591865, 3483122, 3743388, 3591855, 3743387, 3483134, 3592199, 3592202, 3483125, 3694618, 3591860, 3743392, 3743389, 3592208, 3592198, 3483131, 3591853, 3694621, 3592207, 3592203, 3711330, 3554734, 3711334, 3743386, 3554728, 3694617, 4030773, 3694622, 3743391, 3711331, 3711329, 4093389, 3694612, 4093391, 4093397, 4030774, 3711324, 4030778, 4030777, 4093398, 4030776, ...]","[35.0, 35.5, 36.0, 37.0, 37.5, 38.0, 38.5, 39.0, 40.0, 40.5, 41.0, 42.0, 42.5, 43.0, 44.0]"
3,549776,4059701687894,Sneaker low Rauleder blau,blau,06.968.46,4997827,315567,w,VN,F-S|H-W,...,3 cm - 5 cm,39.0,6.0,10.0,0.0,Gummi-EVA,0.0,0.0,"[549776, 550599, 550596, 550593, 550601, 549780, 549778, 549779, 550594, 550595, 549781, 550597, 550598, 549775, 550602, 549782, 550588, 549777, 549783, 549774, 549773, 550592, 550600, 550589, 550604, 549770, 549771, 550591, 3478987, 3505296, 3505294, 3479430, 3505289, 3479436, 3478986, 3555129, 3479431, 3479432, 3505288, 3591679, 3478985, 3591667, 3505293, 3479429, 3555125, 3591672, 3479434, 3591798, 3555126, 3591674, 3555130, 3591675, 3591668, 3555124, 3591797, 3591669, 3591803, 3591680, 3591681, 3478990, 3591793, 3591799, 3591796, 3505775, 3505292, 3504385, 3505768, 3479433, 3711254, 3479437, 3591673, 3711249, 3505771, 3555123, 3505769, 3505772, 3711248, 3478988, 3505776, 3505778, 3479435, 3692987, 3711244, 3711251, 3711257, 3711258, 3787796, 3479424, 3787792, 3845553, 3845549, 3845547, 3845546, 3847557, 3787799, 3847554, 3591671, 3479425, 3847731, 3591790, ...]","[35.0, 35.5, 36.0, 37.0, 37.5, 38.0, 38.5, 39.0, 40.0, 40.5, 41.0, 42.0, 42.5, 43.0, 44.0, 44.5, 46.0]"
4,550726,4054452851594,elegante Ballerinas Materialmix Lederimitat schwarz,schwarz,06.102.67,6590678,315574,w,SK,F-S|H-W,...,bis 3 cm,37.5,4.5,7.0,0.0,EVA,0.0,0.0,"[550726, 550736, 550735, 550732, 550728, 550722, 550729, 550731, 550727, 550733, 550734, 550730, 550725]","[35.0, 37.0, 37.5, 38.0, 38.5, 39.0, 40.0, 40.5, 41.0, 42.0, 42.5, 43.0, 44.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3292,10603553,4066558951733,Sandale met plateauzool Suède blauw,blauw,24.764.36,6590677,315568,w,SK,F-S,...,5 cm - 8 cm,35.0,2.5,3.0,0.0,PU-TPU,0.0,0.0,"[10603553, 10544662]","[35.0, 37.0]"
3293,10442948,4065171827272,Mokassin Materialmix Leder pink,pink,26.090.21,6590678,315590,w,PT,F-S,...,bis 3 cm,40.5,7.0,12.0,0.0,Gummi,0.0,0.0,"[10442948, 10442949]","[40.5, 41.0]"
3294,10782704,4251234499207,Shopper ANDIE blau,blau,921453,363013,363017,w,DE,F-S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[10782704],[]
3295,10679703,4066558303617,Elegante pumps Glad leer wit,wit,21.450.60,6590677,315573,w,PT,F-S,...,5 cm - 8 cm,35.0,2.5,3.0,0.0,TPU,0.0,0.0,[10679703],[35.0]
3296,10496278,4065171812513,Sandale compensée Daim beige,beige,24.645.14,6590677,315564,w,PT,F-S,...,5 cm - 8 cm,38.0,5.0,8.0,0.0,TR,0.0,0.0,[10496278],[38.0]

In [7]:
product_map = {}
for index, row in product_data.iterrows():
    main_product_id = row['main_product_id']
    for product_id in row['duplicate_product__ids']:
        if product_id == 7595481:
            print('is 7595481, mainproduct is: ' + str(main_product_id))
        product_map[product_id] = main_product_id

user_item_interaction['main_product_id'] = user_item_interaction['product_id'].apply(lambda x: product_map[x])
display(user_item_interaction, len(user_item_interaction.main_product_id.unique()), len(user_item_interaction.product_id.unique()))

is 7595481, mainproduct is: 4822559

        customer_id  product_id  amount  main_product_id
0           1940761     4839681       1          4839681
1           1940761     4839682       1          4839681
2           1940761     6523930       1          6523930
3           1940761     6596395       1          6596395
4           1940761     8642222       1          3696391
...             ...         ...     ...              ...
644783     11128024    10560958       1          3711313
644784     11128039    10451840       1         10224959
644785     11128082    10559336       1          4914111
644786     11128095    10504300       1         10451987
644787     11128129    10366497       1          4078046

[644788 rows x 4 columns]

3297

108777

In [8]:
interaction_data_reduced = user_item_interaction.groupby(['customer_id', 'main_product_id'])['amount'].sum().reset_index()
interaction_data_reduced

        customer_id  main_product_id  amount
0           1940761          3696391       1
1           1940761          3850720       1
2           1940761          4839681       2
3           1940761          5015362       2
4           1940761          6523930       1
...             ...              ...     ...
585121     11128024          3711313       1
585122     11128039         10224959       1
585123     11128082          4914111       1
585124     11128095         10451987       1
585125     11128129          4078046       1

[585126 rows x 3 columns]

In [9]:
interaction_data_reduced.to_pickle(basepath + 'user_item_interactions_only_main_products.pkl')